{{input type='text' id='input-bill' name='Bill' placeholder="Bill" value=newDescription}}
{{input type='text' id='input-amount' name='Amount' placeholder="Amount" value=newAmount}}
<button class='add-bill' {{action 'createBill'}} >Add Bill</button>

{{!-- {{#if currentUser.isSignedIn}} --}}
    <ul>
        {{#each itemController='bill'}}
            
                <li {{bind-attr class="settled:completed"}} > 
                    {{input type="checkbox" name='settle-check' checked=settled class="toggle"}}
                    {{description}} £{{adjustedAmount}} {{user_id}}
                    <button {{action "removeBill"}} class="destroy">X</button>
                </li>
        {{/each}}
    </ul>
    <p>Total Settled: £{{adjustedCompleted}}</p>
{{!-- {{else}}
      Hello, Guest
{{/if}} --}}

[{{currentUser.id}}]




