{{input type='text' id='input-bill' name='Bill' placeholder="Bill" value=newDescription}}
{{input type='text' id='input-amount' name='Amount' placeholder="Amount" value=newAmount}}
<button class='add-bill' {{action 'createBill'}} >Add Bill</button>


    <ul>
        {{#each itemController='bill'}}
            <li {{bind-attr class="settled:completed"}} > 
                {{input type="checkbox" checked=settled class="toggle"}}
                {{description}} £{{amount}} {{settled}}
                <button {{action "removeBill"}} class="destroy">X</button>
            </li>
        {{/each}}
    </ul>


