{{input type='text' id='input-bill' name='Bill' placeholder="Bill" value=newDescription}}
{{input type='text' id='input-amount' name='Amount' placeholder="Amount" value=newAmount}}
<button class='add-bill' {{action 'createBill'}} >Add Bill</button>


    <ul>
        {{#each itemController='bill'}}
            <li> {{description}} £{{amount}} <button {{action "removeBill"}} class="destroy">x</button></li>
        {{/each}}
    </ul>


