{{input type='text' id='input-bill' name='Bill' placeholder="Bill" value=newDescription}}
{{input type='text' id='input-amount' name='Amount' placeholder="Amount" value=newAmount}}
<button class='add-bill' {{action 'createBill'}} >Add Bill</button>


<ul>
    {{#each itemController='user'}}
            <li>{{email}}</li>
            {{#if isCurrentUser }} 
                {{#each bill in bills}}
                    {{#with bill}}
                        <li {{bind-attr class="settled:completed"}} >
                            {{input type="checkbox" name='settle-check' checked=settled class="toggle"}}
                            {{description}} £{{adjustedAmount}}
                            <button {{action "removeBill" id}} class="destroy">X</button>
                        </li>
                    {{/with}}
                {{/each}}
            {{else}}
                {{#each bill in bills}}
                    {{#with bill}}
                        <li {{bind-attr class="settled:completed"}} >
                            {{description}} £{{adjustedAmount}}
                        </li>
                    {{/with}}
                {{/each}}
            {{/if}}
            <p>Total Settled: £{{totalSettledStr}}</p>
    {{/each}}
</ul>

You owe £{{netOwedStr}}



