


<div class="container-fluid">
    <h2>Your bills</h2>
    <section>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="exampleInputBill">Bill name</label>
                {{input type='text' class='form-control' id='exampleBill' name='Bill' placeholder="Bill" value=newDescription}}
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        £
                    </div>
                    {{input type='text' class='form-control' id='input-amount' name='Amount' placeholder="Amount" value=newAmount}}
                </div>
            </div>
            <button class='btn btn-default' {{action 'createBill'}} >Add Bill</button>
        </form>
    </section>

    <div id="main">
        <ul class="lst">
            {{#each itemController='user'}}
                    <li>{{email}} </li>
                        {{#each bill in bills}}
                                <li {{bind-attr class="bill.settled:completed"}} >
                                    <a href="#">
                                        {{#if isCurrentUser}} 
                                            <span>{{input type="checkbox" name='settle-check' checked=bill.settled class="toggle"}}</span>
                                        {{/if}}
                                        <span>{{bill.description}}</span> <em>£{{bill.adjustedAmount}}</em>
                                        {{#if isCurrentUser}} 
                                            <button {{action "removeBill" bill.id}} class="destroy">X</button>
                                        {{/if}}
                                        TEXT
                                    </a>
                                </li>
                        {{/each}}
                    <p>Total Settled: £{{totalSettledStr}}</p>
            {{/each}}
        </ul>
    </div>
    <ul class="totals">
        <li><a href="#">Your bills paid</a><span {{bind-attr style=currentUserPercentageText}}></span></li>
        <li><a href="#">House bills paid</a><span {{bind-attr style=flatPercentageText}}></span></li>
    </ul>
</div>

<footer>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{balanceMessage}}{{netOwedStr}}
        </button>
        <ul class="dropdown-menu pull-right" id="pay" role="menu">

            {{#each itemController='user'}}
                {{#if paymentDisplayAmount}}
                    {{#unless isCurrentUser}}
                        <li><a href="#"> {{paymentMessage}}{{paymentDisplayAmount}} </a></li>


                    {{/unless}}
                {{/if}}
            {{/each}}

        </ul>
    </div>
     
</footer>

<div class='dynamic'> {{totalPositiveDelta}}  {{currentUserDelta}} </div>





