    <script src='http://code.jquery.com/jquery-2.1.1.min.js'></script>

<div class="container-fluid">
  
  <p>Enter your home details here</p> <!-- enter home details -->

  <section>
    <%= form_for @abode, :html=> {:class => "form-inline", :role => "form"} do |f| %>

      <div class="form-group col-xs-12 col-lg-4" %>
        <%= f.label :name_number, class: "sr-only col-xs-4" %>
        <div class="col-xs-8">
          <%= f.text_field :name_number, class: "form-control", placeholder: "Home name / number" %>
         </div>
      </div>      
      <div class="form-group col-xs-12 col-lg-4" %>
        <%= f.label :street, class: "sr-only col-xs-4" %>
        <div class="col-xs-8">
          <%= f.text_field :street, class: "form-control", placeholder: "Street" %>
        </div>
      </div>
      <div class="form-group col-xs-12 col-lg-4" %>
        <%= f.label :city, class: "sr-only col-xs-4" %>
        <div class="col-xs-8">
          <%= f.text_field :city, class: "form-control", placeholder: "City" %>
        </div>
      </div>
      <div class="form-group col-xs-12 col-lg-4" %>
        <%= f.label :county, class: "sr-only col-xs-4" %>
        <div class="col-xs-8">
          <%= f.text_field :county, class: "form-control", placeholder: "County" %>
        </div>
      </div>    
      <div class="form-group col-xs-12 col-lg-4" %>
        <%= f.label :postcode, class: "sr-only col-xs-4" %>
        <div class="col-xs-8">
          <%= f.text_field :postcode, class: "form-control", placeholder: "Postcode" %>
        </div>
      </div>    
      <div class="form-group col-xs-12 col-lg-4" %>
          <%= f.submit "Submit", class: "btn btn-default col-xs-8" %>
      </div>
    <% end %>
  </section>
</div>

<div class="container-fluid">

  <p>Add your HouseMates</p>
  
  <section>
    <%= form_tag("/abodes/add_user", method: "post") do %>
      <div class="form-group col-xs-6 col-sm-3">
        <%= text_field_tag :email, nil, :class => "form-control",  placeholder: "HouseMates email address" %>
        <div class="col-xs-6">
          <%= hidden_field_tag(:abode_id, value = @abode.id) %>
        </div>
      </div>   
      <div class="form-group col-xs-6 col-sm-3">
        <%= submit_tag "Add", class: "btn btn-default col-xs-6" %>
      </div>
    <% end %>

     <%= form_tag("/abodes/add_user", method: "post") do %>
      <div class="form-group col-xs-6 col-sm-3">
        <%= text_field_tag :email, nil, :class => "form-control",  placeholder: "HouseMates email address" %>
        <div class="col-xs-6">
          <%= hidden_field_tag(:abode_id, value = @abode.id) %>
        </div>
      </div>
      <div class="form-group col-xs-6 col-sm-3">
        <%= submit_tag "Add", class: "btn btn-default col-xs-6" %>
      </div>
    <% end %>


     <%= form_tag("/abodes/add_user", method: "post") do %>
      <div class="form-group col-xs-6 col-sm-3">
        <%= text_field_tag :email, nil, :class => "form-control",  placeholder: "HouseMates email address" %>
        <div class="col-xs-6">
          <%= hidden_field_tag(:abode_id, value = @abode.id) %>
        </div>
      </div>
      <div class="form-group col-xs-6 col-sm-3">
        <%= submit_tag "Add", class: "btn btn-default col-xs-6" %>
      </div>
    <% end %>

     <%= form_tag("/abodes/add_user", method: "post") do %>
      <div class="form-group col-xs-6 col-sm-3">
        <%= text_field_tag :email, nil, :class => "form-control",  placeholder: "HouseMates email address" %>
        <div class="col-xs-6">
          <%= hidden_field_tag(:abode_id, value = @abode.id) %>
        </div>
      </div>
      <div class="form-group col-xs-6 col-sm-3">
        <%= submit_tag "Add", class: "btn btn-default col-xs-6" %>
      </div>
    <% end %>
  </section>
</div>

