<!DOCTYPE html>
<html>
<head>
  <title>HouseMates</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
    <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
    <%end%>

    <%= link_to "Add an abode", new_abode_path %>
    
    <%= yield %>

    <main id="ember-app"></main>


</body>

</html>
